{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://cognito-sync.amazonaws.com/"
        },
        {
            "url": "http://cognito-sync.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>Amazon Cognito Sync</fullname> <p>Amazon Cognito Sync provides an AWS service and client library that enable cross-device syncing of application-related user data. High-level client libraries are available for both iOS and Android. You can use these libraries to persist data locally so that it's available even if the device is offline. Developer credentials don't need to be stored on the mobile device to access the service. You can use Amazon Cognito to obtain a normalized user ID and credentials. User data is persisted in a dataset that can store up to 1 MB of key-value pairs, and you can have up to 20 datasets per user identity.</p> <p>With Amazon Cognito Sync, the data stored for each identity is accessible only to credentials assigned to that identity. In order to use the Cognito Sync service, you need to make API calls using credentials retrieved with <a href=\"http://docs.aws.amazon.com/cognitoidentity/latest/APIReference/Welcome.html\">Amazon Cognito Identity service</a>.</p> <p>If you want to use Cognito Sync in an Android or iOS application, you will probably want to make API calls via the AWS Mobile SDK. To learn more, see the <a href=\"http://docs.aws.amazon.com/mobile/sdkforandroid/developerguide/cognito-sync.html\">Developer Guide for Android</a> and the <a href=\"http://docs.aws.amazon.com/mobile/sdkforios/developerguide/cognito-sync.html\">Developer Guide for iOS</a>.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon Cognito Sync",
        "version": "2014-06-30",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cognito-sync-2014-06-30.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "cognito-sync"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/cognito-sync/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/identitypools": {
            "get": {
                "description": "<p>Gets a list of identity pools registered with Cognito.</p> <p>ListIdentityPoolUsage can only be called with developer credentials. You cannot make this API call with the temporary user credentials provided by Cognito Identity.</p>",
                "operationId": "ListIdentityPoolUsage",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Returned for a successful ListIdentityPoolUsage request.",
                                    "properties": {
                                        "Count": {
                                            "description": "Total number of identities for the identity pool.",
                                            "type": "integer"
                                        },
                                        "IdentityPoolUsages": {
                                            "description": "Usage information for the identity pools.",
                                            "items": {
                                                "description": "Usage information for the identity pool.",
                                                "properties": {
                                                    "DataStorage": {
                                                        "description": "Data storage information for the identity pool.",
                                                        "type": "integer"
                                                    },
                                                    "IdentityPoolId": {
                                                        "description": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
                                                        "maxLength": 55,
                                                        "minLength": 1,
                                                        "pattern": "[\\w-]+:[0-9a-f-]+",
                                                        "type": "string"
                                                    },
                                                    "LastModifiedDate": {
                                                        "description": "Date on which the identity pool was last modified.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "SyncSessionsCount": {
                                                        "description": "Number of sync sessions for the identity pool.",
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "MaxResults": {
                                            "description": "The maximum number of results to be returned.",
                                            "type": "integer"
                                        },
                                        "NextToken": {
                                            "description": "A pagination token for obtaining the next page of results.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "InvalidParameterException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a request parameter does not comply with the associated constraints.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by InvalidParameterException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "NotAuthorizedException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a user is not authorized to access the requested resource.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a NotAuthorizedException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "TooManyRequestsException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown if the request is throttled.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by a TooManyRequestsException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalErrorException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates an internal service error.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by InternalErrorException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "A request for usage information on an identity pool.",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/identitypools/{IdentityPoolId}": {
            "get": {
                "description": "<p>Gets usage details (for example, data storage) about a particular identity pool.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
                "operationId": "DescribeIdentityPoolUsage",
                "parameters": [
                    {
                        "in": "path",
                        "name": "IdentityPoolId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Response to a successful DescribeIdentityPoolUsage request.",
                                    "properties": {
                                        "IdentityPoolUsage": {
                                            "description": "Information about the usage of the identity pool.",
                                            "properties": {
                                                "DataStorage": {
                                                    "description": "Data storage information for the identity pool.",
                                                    "type": "integer"
                                                },
                                                "IdentityPoolId": {
                                                    "description": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
                                                    "maxLength": 55,
                                                    "minLength": 1,
                                                    "pattern": "[\\w-]+:[0-9a-f-]+",
                                                    "type": "string"
                                                },
                                                "LastModifiedDate": {
                                                    "description": "Date on which the identity pool was last modified.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "SyncSessionsCount": {
                                                    "description": "Number of sync sessions for the identity pool.",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "InvalidParameterException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a request parameter does not comply with the associated constraints.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by InvalidParameterException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "NotAuthorizedException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a user is not authorized to access the requested resource.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a NotAuthorizedException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "ResourceNotFoundException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown if the resource doesn't exist.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by a ResourceNotFoundException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "TooManyRequestsException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown if the request is throttled.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by a TooManyRequestsException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalErrorException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates an internal service error.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by InternalErrorException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "A request for usage information about the identity pool.",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/identitypools/{IdentityPoolId}/bulkpublish": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Initiates a bulk publish of all existing datasets for an Identity Pool to the configured stream. Customers are limited to one successful bulk publish per 24 hours. Bulk publish is an asynchronous request, customers can see the status of the request via the GetBulkPublishDetails operation.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
                "operationId": "BulkPublish",
                "parameters": [
                    {
                        "in": "path",
                        "name": "IdentityPoolId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The output for the BulkPublish operation.",
                                    "properties": {
                                        "IdentityPoolId": {
                                            "description": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
                                            "maxLength": 55,
                                            "minLength": 1,
                                            "pattern": "[\\w-]+:[0-9a-f-]+",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "AlreadyStreamedException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An exception thrown when a bulk publish operation is requested less than 24 hours after a previous bulk publish operation completed successfully.",
                                    "properties": {
                                        "message": {
                                            "description": "The message associated with the AlreadyStreamedException exception.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "NotAuthorizedException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a user is not authorized to access the requested resource.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a NotAuthorizedException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "ResourceNotFoundException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown if the resource doesn't exist.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by a ResourceNotFoundException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalErrorException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates an internal service error.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by InternalErrorException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The input for the BulkPublish operation.",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/identitypools/{IdentityPoolId}/configuration": {
            "get": {
                "description": "<p>Gets the configuration settings of an identity pool.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
                "operationId": "GetIdentityPoolConfiguration",
                "parameters": [
                    {
                        "in": "path",
                        "name": "IdentityPoolId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The output for the GetIdentityPoolConfiguration operation.",
                                    "properties": {
                                        "CognitoStreams": {
                                            "description": "Options to apply to this identity pool for Amazon Cognito streams.",
                                            "properties": {
                                                "RoleArn": {
                                                    "description": "The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.",
                                                    "maxLength": 2048,
                                                    "minLength": 20,
                                                    "pattern": "arn:aws:iam::\\d+:role/.*",
                                                    "type": "string"
                                                },
                                                "StreamName": {
                                                    "description": "The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "StreamingStatus": {
                                                    "description": "Status of the Cognito streams. Valid values are: <p>ENABLED - Streaming of updates to identity pool is enabled.</p> <p>DISABLED - Streaming of updates to identity pool is disabled. Bulk publish will also fail if StreamingStatus is DISABLED.</p>",
                                                    "enum": [
                                                        "ENABLED",
                                                        "DISABLED"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "IdentityPoolId": {
                                            "description": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito.",
                                            "maxLength": 55,
                                            "minLength": 1,
                                            "pattern": "[\\w-]+:[0-9a-f-]+",
                                            "type": "string"
                                        },
                                        "PushSync": {
                                            "description": "Options to apply to this identity pool for push synchronization.",
                                            "properties": {
                                                "ApplicationArns": {
                                                    "description": "List of SNS platform application ARNs that could be used by clients.",
                                                    "items": {
                                                        "pattern": "arn:aws:sns:[-0-9a-z]+:\\d+:app/[A-Z_]+/[a-zA-Z0-9_.-]+",
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "RoleArn": {
                                                    "description": "A role configured to allow Cognito to call SNS on behalf of the developer.",
                                                    "maxLength": 2048,
                                                    "minLength": 20,
                                                    "pattern": "arn:aws:iam::\\d+:role/.*",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "InvalidParameterException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a request parameter does not comply with the associated constraints.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by InvalidParameterException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "NotAuthorizedException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a user is not authorized to access the requested resource.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a NotAuthorizedException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "ResourceNotFoundException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown if the resource doesn't exist.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by a ResourceNotFoundException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "TooManyRequestsException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown if the request is throttled.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by a TooManyRequestsException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalErrorException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates an internal service error.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by InternalErrorException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The input for the GetIdentityPoolConfiguration operation.",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Sets the necessary configuration for push sync.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
                "operationId": "SetIdentityPoolConfiguration",
                "parameters": [
                    {
                        "in": "path",
                        "name": "IdentityPoolId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The output for the SetIdentityPoolConfiguration operation",
                                    "properties": {
                                        "CognitoStreams": {
                                            "description": "Options to apply to this identity pool for Amazon Cognito streams.",
                                            "properties": {
                                                "RoleArn": {
                                                    "description": "The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.",
                                                    "maxLength": 2048,
                                                    "minLength": 20,
                                                    "pattern": "arn:aws:iam::\\d+:role/.*",
                                                    "type": "string"
                                                },
                                                "StreamName": {
                                                    "description": "The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.",
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "StreamingStatus": {
                                                    "description": "Status of the Cognito streams. Valid values are: <p>ENABLED - Streaming of updates to identity pool is enabled.</p> <p>DISABLED - Streaming of updates to identity pool is disabled. Bulk publish will also fail if StreamingStatus is DISABLED.</p>",
                                                    "enum": [
                                                        "ENABLED",
                                                        "DISABLED"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "IdentityPoolId": {
                                            "description": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito.",
                                            "maxLength": 55,
                                            "minLength": 1,
                                            "pattern": "[\\w-]+:[0-9a-f-]+",
                                            "type": "string"
                                        },
                                        "PushSync": {
                                            "description": "Options to apply to this identity pool for push synchronization.",
                                            "properties": {
                                                "ApplicationArns": {
                                                    "description": "List of SNS platform application ARNs that could be used by clients.",
                                                    "items": {
                                                        "pattern": "arn:aws:sns:[-0-9a-z]+:\\d+:app/[A-Z_]+/[a-zA-Z0-9_.-]+",
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "RoleArn": {
                                                    "description": "A role configured to allow Cognito to call SNS on behalf of the developer.",
                                                    "maxLength": 2048,
                                                    "minLength": 20,
                                                    "pattern": "arn:aws:iam::\\d+:role/.*",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "ConcurrentModificationException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown if there are parallel requests to modify a resource.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a ConcurrentModicationException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "NotAuthorizedException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a user is not authorized to access the requested resource.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a NotAuthorizedException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "ResourceNotFoundException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown if the resource doesn't exist.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by a ResourceNotFoundException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "TooManyRequestsException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown if the request is throttled.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by a TooManyRequestsException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalErrorException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates an internal service error.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by InternalErrorException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The input for the SetIdentityPoolConfiguration operation.",
                                "properties": {
                                    "CognitoStreams": {
                                        "description": "Options to apply to this identity pool for Amazon Cognito streams.",
                                        "properties": {
                                            "RoleArn": {
                                                "description": "The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.",
                                                "maxLength": 2048,
                                                "minLength": 20,
                                                "pattern": "arn:aws:iam::\\d+:role/.*",
                                                "type": "string"
                                            },
                                            "StreamName": {
                                                "description": "The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.",
                                                "maxLength": 128,
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "StreamingStatus": {
                                                "description": "Status of the Cognito streams. Valid values are: <p>ENABLED - Streaming of updates to identity pool is enabled.</p> <p>DISABLED - Streaming of updates to identity pool is disabled. Bulk publish will also fail if StreamingStatus is DISABLED.</p>",
                                                "enum": [
                                                    "ENABLED",
                                                    "DISABLED"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "PushSync": {
                                        "description": "Options to apply to this identity pool for push synchronization.",
                                        "properties": {
                                            "ApplicationArns": {
                                                "description": "List of SNS platform application ARNs that could be used by clients.",
                                                "items": {
                                                    "pattern": "arn:aws:sns:[-0-9a-z]+:\\d+:app/[A-Z_]+/[a-zA-Z0-9_.-]+",
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "RoleArn": {
                                                "description": "A role configured to allow Cognito to call SNS on behalf of the developer.",
                                                "maxLength": 2048,
                                                "minLength": 20,
                                                "pattern": "arn:aws:iam::\\d+:role/.*",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/identitypools/{IdentityPoolId}/events": {
            "get": {
                "description": "<p>Gets the events and the corresponding Lambda functions associated with an identity pool.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
                "operationId": "GetCognitoEvents",
                "parameters": [
                    {
                        "in": "path",
                        "name": "IdentityPoolId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The response from the GetCognitoEvents request",
                                    "properties": {
                                        "Events": {
                                            "description": "The Cognito Events returned from the GetCognitoEvents request",
                                            "items": {
                                                "properties": {
                                                    "key": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "maxItems": 1,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "InvalidParameterException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a request parameter does not comply with the associated constraints.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by InvalidParameterException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "NotAuthorizedException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a user is not authorized to access the requested resource.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a NotAuthorizedException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "ResourceNotFoundException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown if the resource doesn't exist.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by a ResourceNotFoundException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "TooManyRequestsException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown if the request is throttled.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by a TooManyRequestsException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalErrorException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates an internal service error.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by InternalErrorException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "A request for a list of the configured Cognito Events",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Sets the AWS Lambda function for a given event type for an identity pool. This request only updates the key/value pair specified. Other key/values pairs are not updated. To remove a key value pair, pass a empty value for the particular key.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
                "operationId": "SetCognitoEvents",
                "parameters": [
                    {
                        "in": "path",
                        "name": "IdentityPoolId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "InvalidParameterException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a request parameter does not comply with the associated constraints.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by InvalidParameterException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "NotAuthorizedException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a user is not authorized to access the requested resource.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a NotAuthorizedException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "ResourceNotFoundException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown if the resource doesn't exist.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by a ResourceNotFoundException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "TooManyRequestsException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown if the request is throttled.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by a TooManyRequestsException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalErrorException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates an internal service error.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by InternalErrorException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "<p>A request to configure Cognito Events\"</p>\"",
                                "properties": {
                                    "Events": {
                                        "description": "The events to configure",
                                        "items": {
                                            "properties": {
                                                "key": {
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "maxItems": 1,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "Events"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/identitypools/{IdentityPoolId}/getBulkPublishDetails": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Get the status of the last BulkPublish operation for an identity pool.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
                "operationId": "GetBulkPublishDetails",
                "parameters": [
                    {
                        "in": "path",
                        "name": "IdentityPoolId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The output for the GetBulkPublishDetails operation.",
                                    "properties": {
                                        "BulkPublishCompleteTime": {
                                            "description": "If BulkPublishStatus is SUCCEEDED, the time the last bulk publish operation completed.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "BulkPublishStartTime": {
                                            "description": "The date/time at which the last bulk publish was initiated.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "BulkPublishStatus": {
                                            "description": "Status of the last bulk publish operation, valid values are: <p>NOT_STARTED - No bulk publish has been requested for this identity pool</p> <p>IN_PROGRESS - Data is being published to the configured stream</p> <p>SUCCEEDED - All data for the identity pool has been published to the configured stream</p> <p>FAILED - Some portion of the data has failed to publish, check FailureMessage for the cause.</p>",
                                            "enum": [
                                                "NOT_STARTED",
                                                "IN_PROGRESS",
                                                "FAILED",
                                                "SUCCEEDED"
                                            ],
                                            "type": "string"
                                        },
                                        "FailureMessage": {
                                            "description": "If BulkPublishStatus is FAILED this field will contain the error message that caused the bulk publish to fail.",
                                            "type": "string"
                                        },
                                        "IdentityPoolId": {
                                            "description": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
                                            "maxLength": 55,
                                            "minLength": 1,
                                            "pattern": "[\\w-]+:[0-9a-f-]+",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "InvalidParameterException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a request parameter does not comply with the associated constraints.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by InvalidParameterException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "NotAuthorizedException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a user is not authorized to access the requested resource.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a NotAuthorizedException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "ResourceNotFoundException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown if the resource doesn't exist.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by a ResourceNotFoundException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "InternalErrorException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Indicates an internal service error.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by InternalErrorException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The input for the GetBulkPublishDetails operation.",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/identitypools/{IdentityPoolId}/identities/{IdentityId}": {
            "get": {
                "description": "<p>Gets usage information for an identity, including number of datasets and data usage.</p> <p>This API can be called with temporary user credentials provided by Cognito Identity or with developer credentials.</p>",
                "operationId": "DescribeIdentityUsage",
                "parameters": [
                    {
                        "in": "path",
                        "name": "IdentityPoolId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "IdentityId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The response to a successful DescribeIdentityUsage request.",
                                    "properties": {
                                        "IdentityUsage": {
                                            "description": "Usage information for the identity.",
                                            "properties": {
                                                "DataStorage": {
                                                    "description": "Total data storage for this identity.",
                                                    "type": "integer"
                                                },
                                                "DatasetCount": {
                                                    "description": "Number of datasets for the identity.",
                                                    "type": "integer"
                                                },
                                                "IdentityId": {
                                                    "description": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
                                                    "maxLength": 55,
                                                    "minLength": 1,
                                                    "pattern": "[\\w-]+:[0-9a-f-]+",
                                                    "type": "string"
                                                },
                                                "IdentityPoolId": {
                                                    "description": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
                                                    "maxLength": 55,
                                                    "minLength": 1,
                                                    "pattern": "[\\w-]+:[0-9a-f-]+",
                                                    "type": "string"
                                                },
                                                "LastModifiedDate": {
                                                    "description": "Date on which the identity was last modified.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "InvalidParameterException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a request parameter does not comply with the associated constraints.",
                                    "properties": {
                                        "message": {
                                            "description": "Message returned by InvalidParameterException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "NotAuthorizedException",
                        "x-aws-exception": true,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Thrown when a user is not authorized to access the requested resource.",
                                    "properties": {
                                        "message": {
                                            "description": "The message returned by a NotAuthorizedException.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
[...]
